.cursor {
  display: inline-block;
  width: 10px; 
  height: 1em; 
  background-color: #00FF00; 
  animation: blink 2s infinite; 
}

@keyframes blink { /* Flikering 100-0 percent */
  0%, 50% {
    opacity: 1; /* Visible */
  }
  51%, 100% {
    opacity: 0; /* Invisible */
  }
}